:root {
  font-size: 62.5%;

  --primary-h: 0;
  --primary-s: 0%;
  --primary-l: 20%;
  --dark-theme-bg: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
}

body.darkTheme,header.darkTheme,section#option-menu.darkTheme,
section#color-pallet-container.darkTheme,
section#board-color-pallet-container.darkTheme,
section#eraser_container.darkTheme {
  background-color: var(--dark-theme-bg);
  transition: background-color 1s;
}

header.darkTheme span,header.darkTheme nav span p  {
  color: #fff;
  transition: color 1s;
}

header.darkTheme #logo-container .logo:hover {
  opacity: 1;
  filter: blur(0.1rem);
 }

