body.darkTheme {
  background-color: #292828;
  transition: background-color 1s;
  color: #fff;
}

header.darkTheme {
  background-color: #3b3b3b;
  transition: background-color 1s;
}

header.darkTheme nav span p {
  color: #fff;

}

header.darkTheme #logo-container .logo {
  opacity: 1;
}

section#option-menu.darkTheme,
section#color-pallet-container.darkTheme,
section#board-color-pallet-container.darkTheme,
section#eraser_container.darkTheme {
  background-color: #3b3b3b;
  transition: background-color 1s;
}
