body {
  background-color: #e7e8e9;
  margin: 0;
  padding: 0;
  transition: background-color 1s;
}

header {
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: row;
  height: 7vh;
  justify-content: flex-end;
  transition: background-color 1s;
  width: 100vw;
}

header img#triangle {
  cursor: pointer;
  height: 9vh;
  width: 3.28vw;
}

header img#triangle:hover {
  transform: scale(1.1) rotate(360deg);
  transition: transform 1s;
}

header section#navigation-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  width: 47%;
}

header section#navigation-menu span {
  width: 60%;
}
header section#navigation-menu span#page-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header section#navigation-menu span#page-menu-container h3{
  color: #595959;
  cursor: pointer;
  font-family: "Shanti", sans-serif;
  font-size: 25px;
  font-weight: 400;
  height: 4.6vh;
  margin-right: 0;
  width: 9.59vw;
}

header section#navigation-menu span#page-menu-container h3:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

section#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
}

section#option-menu {
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 8px ;
  width: 5%;
}

section#main-container section#option-menu img {
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  height: 9vh;
  width: 2.28vw;
}

section#main-container  section#option-menu img:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

section#main-container section#board-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: auto 40px;
  overflow: auto;
  width: 92.8%;
}

section#main-container section#board-container div.pixels {
  background-color: transparent;
  border: 1px solid rgba(37, 37, 37, 0.3);
  cursor: pointer;
  float: left;
  height: 20px;
  width: 20px;
}

section#color-pallet-container, section#board-color-pallet-container {
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  height: 293px;
  justify-content: space-around;
  max-width: 100%;
  padding: 1rem;
  position: absolute;
  top: 10%;
  transform: translateY(-0.5%);
  transition: 300ms transform ease-out;
  width: 1015px;
  z-index: 2;
}

section#color-pallet-container.open {
  display: flex;
  margin-left: 5%;
  margin-left: 6%;
  top: 10.2%;
}

section#board-color-pallet-container.open {
  display: flex;
  margin-left: 6%;
  top: 20.4%;
}

section#color-pallet-container div.colors {
  border-radius: 5px;
  bottom: 75.26%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 52px;
  margin: 10px;
  width: 58px;
}

section#board-color-pallet-container div.colors {
  border-radius: 5px;
  bottom: 75.26%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 52px;
  margin: 10px;
  width: 58px;
}

section#eraser_container {
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  flex-direction: row;
  height: 70px;
  justify-content: center;
  max-width: 100%;
  position: absolute;
  top: 10%;
  transition: 300ms transform ease-out;
  width: 120px;
  z-index: 2;
}

section#eraser_container.open {
  display:flex;
  margin-left: 6%;
  top: 30%;

}

section#eraser_container img {
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  height: 9vh;
  padding: 2px;
  width: 2.28vw;
}

section#eraser_container img:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

::-webkit-scrollbar {
  display: none;
}
