* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-base: 0;
  --color-porcent: 0%;
  --main-color: hsl(var(--color-base), var(--color-porcent), 90%);
  --standard-box-shadow: 3.8px 7.7px 7.7px
    hsla(var(--color-base), var(--color-porcent), var(--color-porcent), 0.38);
  --text-color: hsl(var(--color-base), var(--color-porcent), 35%);
}

body {
  background-color: var(--main-color);

  min-width: 100vw;
  min-height: 100vh;

  font-family: "VT323", monospace;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;

  transition: background-color 1s;

}

header {
  min-width: 100%;
  min-height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;

  box-shadow: var(--standard-box-shadow);
  transition: background-color 1s;

}

header #logo-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;

  height: 100%;
}

header #logo-container .logo {
  width: 5rem;
  height: 5rem;
  transition: opacity 500ms ease;

  filter: drop-shadow(0.3rem 0.5rem 0.2rem rgb(0 0 0 / 0.2));
}

header #logo-container .logo:hover {
  opacity: 0;
}

header #logo-container img {
  position: absolute;
  width: 5rem;
  height: 5rem;
  z-index: -1;

  filter: drop-shadow(0.3rem 0.5rem 0.2rem rgb(0 0 0 / 0.2));
}

header #logo-container span {
  font-size: 3.2rem;
  line-height: 4.2rem;
  transition: transform 250ms;

  filter: drop-shadow(0.3rem 0.5rem 0.2rem rgb(0 0 0 / 0.2));
}

header #logo-container span:hover {
  transform: scale(1.1);
}

header nav {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 0.8rem;

  width: 50rem;
  height: 8rem;
}

header nav span {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;

  margin-bottom: 0.1rem;
  transition: transform 250ms;
}

header nav span:hover {
  transform: scale(1.1);
}

header nav span p {
  text-decoration: none;
  color: var(--text-color);

  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-left: 0.2rem;
}

header nav span img {
  width: 50px;
  height: 50px;

  filter: drop-shadow(0.3rem 0.5rem 0.2rem rgb(0 0 0 / 0.2));
}

main#main-container {
  display: flex;
  gap: 3.6rem;
  justify-content: space-between;

  height: 80.5rem;
  width: 185rem;
  position: relative;
  margin: 3.2rem;
}

section#option-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3.5rem 2.5rem;

  height: 35rem;
  width: 10rem;

  background-color: #e6e6e6;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.34);
  transition: background-color 1s;

  border-radius: 0.8rem;
}

section#board-container {
  width: 170rem;
  height: 80rem;
  background-color: white;

  border-radius: 0.8rem;
}

section#option-menu img {
  width: 5rem;
  height: 5rem;

  transition: transform 300ms;

   filter: drop-shadow(0.3rem 0.5rem 0.2rem rgb(0 0 0 / 0.2));
}

section#option-menu img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


section#board-container div.pixels {
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  background-color: transparent;
  border: 1px solid rgba(37, 37, 37, 0.3);
  cursor: pointer;
  float: left;
}

section#board-container div.pixels:hover {
  border: 0.3rem solid rgba(37, 37, 37, 0.3);
}

section#color-pallet-container,
section#board-color-pallet-container {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  background-color: #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  height: 30rem;
  width: 108rem;
  position: fixed;

  padding: 0.1rem;
  z-index: 2;

  transform: translateY(-0.5%);
}

section#color-pallet-container.open {
  display: flex;
  left: 15rem;
  top: 11.3rem;

}

section#board-color-pallet-container.open {
  display: flex;
  left: 15rem;
  top: 23rem;

}

section#color-pallet-container div.colors,section#board-color-pallet-container div.colors {
  border-radius: 5px;
  bottom: 75.26%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 300ms ease;
  
  cursor: pointer;
  
  height: 5.2rem;
  width: 5.8rem;
  margin: 1rem;
}

section#color-pallet-container div.colors:hover,
section#board-color-pallet-container div.colors:hover {
  transform: scale(1.1);
}
section#eraser_container {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  height: 70px;
  max-width: 100%;
  width: 120px;

  position: fixed;

  transition: 300ms transform ease-out;
  z-index: 2;
}

section#eraser_container.open {
  display: flex;
  left: 15rem;
  top: 30rem;
}

section#eraser_container img {
  cursor: pointer;
  
  height: 4.5rem;
  width: 4.5rem;
  padding: 2px;
  
  filter: drop-shadow(0.3rem 0.5rem 0.2rem rgb(0 0 0 / 0.4));
}

section#eraser_container img:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}

.hide {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
